<!DOCTYPE html>
<html ldir="ltr" lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />

	<title>Shopify Notifications</title>

</head>
<body>
	<h1>Shopify Notifications</h1>

	<ul>
		<li><a href="/draft_order_invoice">Draft Order Invoice</a></li>
		<li><a href="/order_cancelled">Order Cancelled</a></li>
		<li><a href="/order_confirmation">Order Confirmation</a></li>
		<li><a href="/refund_notification">Refund Notification</a></li>
	</ul>
</body>
</html>